<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>ApeServlet</servlet-name>
        <servlet-class>
            apejs.ApeServlet
        </servlet-class>
        <!--
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
    </servlet>

    <servlet-mapping>
        <servlet-name>ApeServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
